<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Factor Finder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class="text-center p-5">
  <div class="container pr-5 pl-5">
  <h3 class="mt-5 dislay-3">Enter a Number to check for Factors</h3>
  <form class="mt-5" action="/" method="POST">
    <div class="form-row justify-content-center">
      <div class="col col-lg-6  mb-2">
        <input type="number" name="number" class="form-control" placeholder="Number">
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="col col-lg-6">
        <input type="submit" class="form-control btn btn-lg btn-dark" value="Find Factors" name="find">
      </div>
    </div>

  </form>
</div>
  <div class="mt-5">
    <p>
      <%= body.factors %>
    </p>
  </div>
</body>

</html>
